<div class="product-item">
  <img class="product-image" [src]="product?.url" [alt]="product?.name" width="100%" />

  <div class="product-info">
    <div class="product-name">
      <h3>{{ product?.name }}</h3>
    </div>

    <div class="product-price">${{ product?.price }}</div>
    <div class="product-description">{{ product?.description }}</div>

    <div class="product-actions">
      <div class="quantity-selector">
        <button class="quantity-button" [disabled]="!cartProduct || cartProduct.quantity < 1" (click)="removeFromCart()">-</button>
        <div class="quantity-text">{{ cartProduct?.quantity ?? 0 }}</div>
        <button class="quantity-button" (click)="addToCart()">+</button>
      </div>
      <button class="add-to-cart-button" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>
